/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: lr
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
    }
    /* My styles */
    *{
        box-sizing: border-box;
        font-family: 'poppins';
        /* outline: 1px solid red; */
    }
    h2{
        color: blue;
        padding: 20px;
    }
    .aqua2{
        color: rgb(127, 136, 255);
    }
    html, body{
        overflow-x: hidden;
    }
    .dark{
        background-color: black;
        color: white;
    }
    header{
        width: 300px;
        padding: 20px;
    }
    h1{
        line-height:1.1em;
        padding: 20px;
        font-family: 'poppins';
        
    }
    p{
       width:auto; 
       padding-inline: 20px;
       padding-bottom: 20px;
    }
    .firstflex{
        display:flex;
     flex-direction: row;
    }
    .firstnav{
        padding-inline: 20px;
        padding-bottom: 40px;
        padding-top: 7px;
}
    .firstnav a{
        border:1px solid white;
        text-decoration: none;
        padding-inline: 20px;
        padding-block: 1px;
        border-radius: 6px;
        margin-left: 10px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    button{
        background-color: blue;
        border: 0cap;
        color: white;
        border-radius: 6px;
        padding-inline: 20px;
        padding-block: 5px;
    }
    button:hover{
        color: black;
        font-size: small;
        background-color: #ccc;
    }
    .second{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 30px;
        padding-block: 25px;
    }
    .second p{
        text-align: center;
    }
    .video{
        height: 300px;
        width: 100%;
        border: none;
        border-radius: 10px;
    }
    .second h2{
        text-align: center;
    }
    .videowrapper{
        width: 100%;
        max-width: 700px;
    }
    .planets{
        display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding:50px;
    }
    .planet{
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        padding: 5px;
        border-radius: 25px;
    }
    .third, .planets {
        background-color: rgb(194, 231, 243);
    }
     .third {
        text-align: center;
     }
     .table{
        padding: 20px;
        text-align: start;
        width: 100%;
        border: none;
     }
     caption{
        font-weight: 700;
     }
     .light{
        background-color: rgb(135, 213, 240);
     }
     .lighter{
        background-color: rgb(194, 231, 243);
     }
    .textarea{
        resize: none;
        max-width: 100ch;
    }
    th{
        background-color:rgb(18, 175, 228);
        font-weight: normal;
        padding: 10px;
    }
    td{
        text-align: center;
        padding: 10px;
    }
    .formflex{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
    
    }
    .rows{  
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
    input, textarea, select{
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 5px;
    }
    @media (max-width:768px){}
        table{
            width: 80%;
            margin: auto;
            font-size: 10px;
            padding: 0;
            border: none;
        }
        td, th{
            padding: 1px;
        }
        *{
            font-size: 12px;
        }
        p{
       width:auto; 
       padding-inline: 5px;
       padding-bottom: 5px;
    }
        .rows
        {
    flex-direction:column;
}
    .planets{
        display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
    }
    h2{
        padding: 5px;
    }
    header{
        width: 200px;
        padding: 5px;
    }
    .firstflex{
        display:flex;
     flex-direction: column-reverse;
    }
     .required::after {
        content: "*";
        color: red;
     }
     .btnform{
       padding-inline: 80px;
       margin-bottom: 70px;
       margin-left: 20px;
       
     }
     .btnform::after{
        content: ">";
        margin-left: 10px;
     }
     
    footer{
        background-color: black;
        padding: 50px;
    }
    footer, h3 span {
        color: white;
        font-size: small;  
    }
    h3{
        padding-bottom: 10px;
    }
  hr{
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px;
  }
  .lastnav a+a::before{
  content:"";
  margin: 50px;
  }
  a:hover{
    font-size: 10px;
    color: red;
    transition: 3s;
  }

